<ion-view view-title="Restaurantes">
    <ion-nav-bar class="bar-stable">
    </ion-nav-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="restorante in restorantes" type="item-text-wrap" href="#/tab/restorantes/{{restorante.id}}">
        <img ng-src="{{restorante.avatar}}">
        <h2>{{restorante.nombre}}</h2>
        <h4>{{restorante.tipo}}</h4>
        <i class="icon ion-arrow-right-b icon-accessory" style="font-size: 28px; color: #046687"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
