<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Reservas Tab -->
  <ion-tab title="Home" icon-off="ion-ios-pint-outline" icon-on="ion-ios-pint" href="#/tab/map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>

  <!-- Reservas Tab -->
  <ion-tab title="Reservas" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/misreservas">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>
  <!-- Restaurantes Tab -->
  <ion-tab title="Restaurantes" icon-off="ion-ios-wineglass-outline" icon-on="ion-ios-wineglass" href="#/tab/restorantes">
    <ion-nav-view name="tab-restorantes"></ion-nav-view>
  </ion-tab>

  <!-- Cuenta Tab -->
  <ion-tab title="Configuracion" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
