<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->


    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>

    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>

  </head>
  <body ng-app="starter">
    <!--
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
    -->
    <ion-nav-view></ion-nav-view>
  </body>
  <script src="https://www.gstatic.com/firebasejs/3.4.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyCQa5cVTiODs1MlcCUkJ6ZSp3hKtvf0GYI",
      authDomain: "restobrc.firebaseapp.com",
      databaseURL: "https://restobrc.firebaseio.com",
      storageBucket: "restobrc.appspot.com",
      messagingSenderId: "916651152736"
    };
    firebase.initializeApp(config);
  </script>

  <script id="templates/login.html" type="text/ng-template">

      <ion-view view-title="Login" name="login-view">
        <ion-content class="padding background">
            <div class="list list-inset title_inicio_sesion">
                <h4 >Inicio de sesion local</h4>
                <label class="item item-input">
                    <input type="text" placeholder="Correo" ng-model="data.email">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Contraseña" ng-model="data.password">
                </label>
                <button class="button button-block button-stable" ng-click="ingresar()">Ingresar</button>
                <button class="button button-block button-stable" ng-click="registrar()">Registrarse</button>

                <br>

                <div>
                    <h4> Registrarse con Redes Sociales</h5>
                </div>
                    <h5 class="proximamente">Proximamente</h5>

                <button class="button button-block button-positive" ng-click="facebookSignIn()">Iniciar con Facebook</button>
                <button class="button button-block button-assertive" ng-click="">Iniciar con Google+</button>
                <button class="button button-block button-calm" ng-click="facebookSignIn()">Iniciar con Twitter</button>
            </div>

        </ion-content>
      </ion-view>
  </script>
</html>
